/* roboto-100 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto-v30-latin-100.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../../assets/fonts/roboto-v30-latin-100.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../../assets/fonts/roboto-v30-latin-100.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-100.woff') format('woff'),
        /* Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-100.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../../assets/fonts/roboto-v30-latin-100.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../../assets/fonts/roboto-v30-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../../assets/fonts/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../../assets/fonts/roboto-v30-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../../assets/fonts/roboto-v30-latin-300.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/roboto-v30-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../../assets/fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../../assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../../assets/fonts/roboto-v30-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/roboto-v30-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../../assets/fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../../assets/fonts/roboto-v30-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../../assets/fonts/roboto-v30-latin-700.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../../assets/fonts/roboto-v30-latin-900.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../../assets/fonts/roboto-v30-latin-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../../assets/fonts/roboto-v30-latin-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-900.woff') format('woff'),
        /* Modern Browsers */
        url('../../assets/fonts/roboto-v30-latin-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../../assets/fonts/roboto-v30-latin-900.svg#Roboto') format('svg');
    /* Legacy iOS */
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*height: 4975px;*/
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


 /*header styles start*/

.header {
    height: 80px;
    width: 100%;
    background-color: #000000;
}

.logo {
    color: transparent;
    width: 82px;
    height: 52px;
    background-image: url(../../assets/icons/logo-petonline-optimized.svg);
}
.wrapper {
    width: 1160px;
    height: 100%;
    margin: auto;
}

.wrapper_header {
    height: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header_designed {
    flex-grow: 1;
    text-align: right;
}
.nav_list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 58px;
}

.header_link {
    color: #ffffff;
    text-decoration: none;
}

.designed {
    color: #ffffff;
    text-decoration: none;
}

.designed:hover,
.header_link:hover {
    color: #F9804B;
}

.designed:active,
.header_link:active {
    color: #F9804B;
}

/*header styles end*/

/*watch_online styles start*/

.watch_online {
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/images/Giant_Panda.jpg);
}

.wrapper_watch_online {
    display: flex;
    width: 100%;
    height: 100%;
}

.wrapper_watch_online_item {
    width: 50%;
    height: 100%;
}

.watch_online_round {
    position: relative;
    top: 12px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    height: 465px;
    width: 465px;
    border-radius: 50%;
}

.watch_online_text {
    position: absolute;
    top: 74px;
    left: 73px;
    font-size: 106px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 75%;
    text-align: center;
}
.watch_online_text_white {
    color: #ffffff;
}

.watch_online_text_yellow {
    color: #FFEE2E;
}

.watch_online_button {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.button_rounded {
    display: block;
    text-decoration: none;
    height: 54px;
    width: 298px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    line-height: 54px;
    cursor: pointer;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}
.button_rounded:hover {
    background: #E47209;
}
.button_rounded:active {
    background: #4B9200;
}

/*watch_online styles end*/

/*backstage_pets styles start*/

.backstage_pets {
    position: relative;
    height: 1862px;
    width: 100%;
}

.flower {
    position: absolute;
    top: 12px;
    right: 0;
    width: 204px;
    height: 605px;
    background-image: url(../../assets/images/flower_foto1.jpg);
}

.palm {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 292px;
    height: 460px;
    background-image: url(../../assets/images/palm_foto.jpg);
}

.strelitzia {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 368px;
    height: 275px;
    background-image: url(../../assets/images/strelitzia\ 1.jpg);
}

.backstage_pets_wrapper {
    position: relative;
    z-index: 3;
    height: 100%;
    display: inline-block;
    width: 100%;
    
}

.backstage_maket {
    height: 403px;
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
}
.backstage_maket_foto{
    background: url(../../assets/images/bamboo-cap.jpg);
    height: 100%;
    width: 609px;
}

.backstage_maket_text {
    width: 465px;
}

.backstage_maket_text_header {
    margin: 0;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
    color: #333B41;
}

.backstage_maket_text_text{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: #333B41;
}

.backstage_maket_text_how_work {
    margin: 54px, 0, 34px, 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.pets_slider {
    position: relative;
    margin-top: 180px;
    margin-bottom: 80px;
    
}

.pets_slider_container {
    overflow: hidden;
}

.pets_slider_track {
    display: flex;
    gap: 30px;
}
.pets_slider_items {
    display: flex;
    width: 366px;
    flex-direction: column;
    gap: 20px;
}
.pets_slider_foto {
    position: relative;
    margin: 0;
    height: 426px;
    border: 1px solid #FA6F32;
    border-radius: 5px;
    overflow: hidden;
}

.pets_slider_foto:hover:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.pets_slider_foto:hover .pets_slider_deskr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.pets_slider_foto:hover .pets_slider_image {
    transform: scale(1.1);
}

.pets_slider_image {
    margin-bottom: 5px;
    transition: 0.2s all;
}

.pets_slider_deskr {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    transition: 1s all;
}

.pets_slider_deskr_container {
    padding-left: 16px;
}


.pets_slider_image_animal {
    text-transform: uppercase;
    font-weight: 700;
}

.pets_slider_deskr_icon {
    padding-right: 12px;
}

.button_choose{
    width: 298px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.button_slider_left {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: -82px;
    width: 62px;
    height: 62px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.button_slider_right {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: -82px;
    width: 62px;
    height: 62px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);;
    border-radius: 50%;
    cursor: pointer;
}

.button_slider_left::before {
    content: url(../../assets/icons/Vector.svg);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) rotate(180deg);
    left: 35%;
}

.button_slider_right::before {
    content: url(../../assets/icons/Vector.svg);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 38%;
}

.button_slider_right:active,
.button_slider_left:active {
    background: #4B9200;
}

/*backstage_pets styles end*/

/*pick_and_feed styles start*/

.pick_and_feed {
    height: 1004px;
    width: 100%;
    display: inline-block;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
        linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
        linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);;
}

.pick_and_feed_block {
    width: 100%;
    height: 835px;
    margin-top: 69px;
    background: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pick_and_feed_header {
    margin: 41px 0 30px 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    background-clip: text;
}

.pick_and_feed_text {
    margin-left: 50px;
    margin-bottom: 60px;
}

.pick_and_feed_text1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.pick_and_feed_text2 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.pick_and_feed_text3 {
    width: 863px;
    margin: 0;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.pick_and_feed_link {
    text-decoration-color: #FEBDAB; 
    color: #333B41;
}

.pick_and_feed_how_work {
    margin: 0 0 40px 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
}

.pick_and_feed_icons {
    display: flex;
    margin: 0 0 60px 14px;
    gap: 30px;
}

.pick_and_feed_icon {
    margin: 0;
    width: 168px;
    height: 264px;
}

.pick_and_feed_icon_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 168px;
    background: #ffffff;
    border: 1px solid #F9804B;
    border-radius: 5px;
}

.pick_and_feed_icon_descr {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;

}

.pick_and_feed_vector {
    padding-top: 60px;
}

/*pick_and_feed styles end*/

/*testimonials styles start*/

.testimonials {
    position: relative;
    display: inline-block;
    height: 900px;
    width: 100%;
    overflow: hidden;
}

.leaf {
    position: absolute;
    bottom: -140px;
    right: 0;
    width: 247px;
    height: 408px;
    background-image: url(../../assets/images/leav_foto.jpg);
}

testimonials_block {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.testimonials_header {
    width: 206px;
    margin: 150px auto 0 auto;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
}

.testimonials_feedbacks_container {
    margin-top: 47px;
    position: relative;
    z-index: 3;
    height: 391px;
    overflow: hidden;
}

.testimonials_feedbacks_track {
    height: 100%;
    display: flex;
    gap: 30px;
}

.testimonials_feedbacks_item {
    display: flex;
    flex-direction: column;
    width: 265px;
    /*flex-grow: 1;*/
    background: #F1F3F2;
    border-radius: 20px;
    border: 2px solid pink;
    box-sizing: border-box;
    padding: 15px 15px 19px 16px;   
}

.feedbacks_item_id {
    display: flex;
    gap: 10px;
    margin-bottom: 11px;
}

.feedbacks_item_id_name_location {
    display: flex;
    gap: 7px;
    align-items: center;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

.feedbacks_item_id_name_location_dott {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #BDBDBD;
}

.feedbacks_item_id_name_user {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}
.feedbacks_item_text_block {
    display: flex;
    overflow: hidden;
}
.feedbacks_item_text {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
}

.testimonials_slidebar {
    width: 600px;
    margin: 21px auto 0 auto;
}

.testimonials_slidebar_track {
    display: inline-block;
    width: 100%;
    height: 20px;
    padding: 0;
}
.testimonials_slidebar_track input{
    width: 100%;
}

/*range style start*/

input[type=range] {
    height: 12px;
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    transition: 0.2s;
    background: #F5F7F6;
    border-radius: 4px;
    border: 1px solid pink;
}

input[type=range]::-webkit-slider-thumb {
    /*border: 0px solid #FFFFFF;*/
    height: 6px;
    width: 115px;
    border-radius: 3px;
    background: #FE9013;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #F5F7F6 
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    transition: 0.2s;
    /*box-shadow: 0px 0px 0px #FFFFFF;*/
    background: #F5F7F6;
    border-radius: 4px;
    /*border: 0px solid #FFFFFF;*/
}

input[type=range]::-moz-range-thumb {
    /*box-shadow: 0px 0px 0px #000031;
    border: 0px solid #FFFFFF;*/
    height: 6px;
    width: 115px;
    border-radius: 3px;
    background: #FE9013;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    transition: 0.2s;
    background: #F5F7F6;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #FE9013;
    border: 0px solid #FFFFFF;
    border-radius: 18px;
    box-shadow: 0px 0px 0px #FFFFFF;
}

input[type=range]::-ms-fill-upper {
    background: #FE9013;
    border: 1px solid pink;
    border-radius: 18px;
    box-shadow: 0px 0px 0px #FFFFFF;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    /*box-shadow: 0px 0px 0px #000031;
    border: 0px solid #FFFFFF;*/
    height: 6px;
    width: 115px;
    border-radius: 3px;
    background: #FE9013;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #FE9013;
}

input[type=range]:focus::-ms-fill-upper {
    background: #FE9013;
}

/*range style end*/

.testimonials_button {
    margin-top: 31px;
}

.button_squared {
    display: block;
    text-decoration: none;
    height: 54px;
    width: 298px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    line-height: 54px;
    cursor: pointer;
}

.button_squared:hover {
    background: #E47209;
}

.button_squared:active {
    background: #4B9200;
}

/*testimonials styles end*/

/*footer styles start*/

.footer {
    height: 443px;
    width: 100%;
    background-color: #111115;
}

.footer_container {
    display: flex;
    align-items: flex-end;
}

.footer_social {
    width: 300px;
    /*height:*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_logo {
    margin-top: 50px;
    color: transparent;
    width: 82px;
    height: 52px;
    background-image: url(../../assets/icons/logo-petonline-optimized.svg);
}

.footer_button {
    margin-top: 50px;
}

.footer_social_link {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_social_link_item {
    display: flex;
    gap: 10px;
}

.footer_social_link_item {
    color: #ffffff;
    text-decoration: none;
    line-height: 140%;
}

.footer_social_link_background {
    display: block;
    background: rgba(196, 196, 196, 0.5);
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.footer_nav {
    margin-left: 90px;
}

.footer_nav_list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: no-wrap;
    list-style-type: none;
    gap: 58px;
}

.header_link {
    color: #ffffff;
    text-decoration: none;
}

.footer_subscribe{
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 216px;
}

.footer_form_title{
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}

.footer_form_email{
    width: 228px;
    height: 42px;
}

.footer_form_submit {
    width: 129px;
    height: 42px;
}

.footer_designed {
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}


/*footer styles end*/